.services {
  background-color: var(--bg-global);
  padding: 0 1em;

  .services-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 3em 0;
    
    > * {
      animation-name: var(--varSlideShow);
      animation-duration: var(--animationDuration);
      animation-iteration-count: var(--animationCount);
      animation-fill-mode: var(--animationMode);
    }

    @for $i from 10 through length(&) {
      > *:nth-child(#{$i}) {
        animation-delay: (0.5s + ($i - 1) * 1s);
      }
    }
  }
}

@media (max-width: 800px) {
  .services {
    .services-show {
      flex-direction: column;
    }
  }
}
