.services {
  background-color: var(--bg-global);
  padding: 0 1em;

  .services-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 3em 0;
  }
}

@media (max-width: 800px) {
  .services{
    .services-show{
      flex-direction: column;
    }
  }
}