.contact {
  background-color: var(--bg-global);
  padding: 1em;

  .contactLink {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 5em;
  }
  .dadosContact {
    text-transform: lowercase;
  }

  @media (max-width: 800px) {
    .dadosContact {
      font-size: 9px;
    }
  }
}
