.skills {
  display: flex;
  width: 30%;
  height: 120px;
  background-color: var(--gray-opacity);
  transition: all 0.7s ease;
  &:hover{
    background-color: var(--purple);
    i, p{
      color: var(--black);
    }
  }

  i{
    font-size: 52px;
    padding:0 0 0 0.5em;
    color: var(--purple);
    transition: all 0.7s ease;
  }

  .text-skills {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  p {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--gray);
    transition: all 0.7s ease;
  }
}

@media (max-width: 800px) {
  .skills{
    width: 40%;
    justify-content: center;
    .text-skills{
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      i{
        padding: 0;
      }
      p{
        font-size: 100%;
      }
    }
  }
}
