.cardProjects {
  height: 300px;
  width: 31%;
  min-width: 300px;
  background-size: cover;
  background-position: center;
  list-style: none;

  .innerCardProjects {
    position: relative;
    text-align: center;
    background: var(--black-opacity);
    padding-top: 5em;
    width: 83.8%;
    margin: 25px auto;
    height: 250px;
    transition: all 0.5s ease;
    opacity: 0;

    p{
      color: var(--white);
      font-weight: 700;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;

      &::before {
        display: block;
        content: "";  
        position: absolute;
        width: 40px;
        height: 40px;
        top: 35px;
        right: 35px;
        border-top: 5px solid var(--white);
        border-right: 5px solid var(--white);
        transition: all 0.5s ease 0s;
        z-index: 1;
      }
      &::after {
        display: block;
        content: "";  
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 35px;
        left: 35px;
        border-bottom: 5px solid var(--white);
        border-left: 5px solid var(--white);
        transition: all 0.5s ease;
        z-index: 1;
      }
    }

    a {
      font-size: 50px;
      color: var(--white);
    }

    &:hover {
      transform: scale(1.2);
      opacity: 20;
    }
  }
}
