.header {
  padding: 2em 0;
  margin: 10em 0 1em 0;
  transition: margin-top 1s ease;
  animation-delay: 0.1s;
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px var(--black));

  h1 {
    font-size: 54px;
    transition: all 1s;
    animation: appear 1s forwards;
  }

  p {
    font-size: 32px;
    padding: 0.5em 0 1em 0;
    span{
      border-bottom: 2px solid var(--black);
    }
  }

  nav {
    transition: all 1s;
    animation: appear 1s forwards;
  }
}

@keyframes appear {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.top {
  margin-top: 0;
  background-color: var(--black);
  color: var(--white);

  .innerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 32px;
    }

    p {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .header {
    height: 80vh;
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .top {
    .innerHeader {
      flex-direction: column;
    }
  }
}
