@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --bg-main: #0e0e0e;
  --bg-global: #000000f3;

  --blue: #2a7be5;
  --purple: #6b2fe0;
  --black-opacity: #00000056;

  --white: #ffffff;
  --gray: #808080;
  --gray-opacity: rgba(255, 255, 255, 0.08);
  --black: #030303;

  --font-text: "Poppins", sans-serif;

  --varSlideShow: slideShow;

  --animationDuration: 1s;
  --animationCount: 1;
  --animationMode: both;

  @keyframes slideShow {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
